body {
  background-color: dodgerblue;
}

/*Make your CSS responsive so the style of the button changes when
the screen is less than 600px.*/
@media only screen and (max-width: 500px) {
  button.btn {
    background-color: black;
  }
}

p {
  text-shadow: 1px 1px black;
}

table {
  text-align: center;
}

p.redtext {
  color: red;
}

p.whitetext {
  color: white;
}

p.greentext {
  color: green;
}

#content {
  text-align: center;
  color: white;
  margin-top: 50px;
  font-size: 23px;
}
